* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

/* Book Table */

table {
    border: black 1px solid;
    margin-bottom: 32px;
}

tr, td {
    border: 1px solid black;
    padding: 4px;
    margin: 4px;
}

/* Add book */

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translateY(-50%) ;
    margin-left: -15%;
}

dialog::backdrop {
    background-color: rgba(197, 171, 181, 0.5);
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.form-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}